.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
    display: inline-block;
    max-width: 100%;
  }
.messageAlert {
  background: rgba(255,255,255,0);
  border-radius: 20px;
  color : rgb(200, 200, 200);
  padding: 1px 15px;
  display: inline-block;
  max-width: 100%;
}
  
.colorWhite {
  color: white,
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 13px;
  word-wrap: break-word;
}

.messageContainer {
  display: flex;
  margin-top: 2%;
}

.justifyStart {
  justify-content: flex-start;
}

.backgroundBlue {
  background: #0084FF;
}

.backgroundGray {
  background: #24242E;
}

.backgroundTransparent {
  background: rgba(255,255,255,0);
}